*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main
{
    display: flex;
}

/* left page */

.left-side
{
    height: 600px;
    width: 50%;
    background-color: #08AEDA;
}

.text
{
    height: 100px;
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 35%;
}

.text h1
{
    color: white;
    font-size: 45px;
    font-family: "Roboto", serif;
    font-weight: 400;
}

.text p
{
    padding-top: 10px;
    color: white;
    font-family: "Gudea", serif;
    font-weight: 200;
}

/* right-side */

.right-side
{
    height: 600px;
    width: 50%;
}

.container
{
    width: 80%;
    height: 550px;
    margin: 5% auto;
}

.head
{
    text-align: center;
    padding-top: 5%;
}

.head h1
{
    font-family: "Gudea", serif;
    font-weight: 600;
}

.form
{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

input
{
    height: 50px;
    width: 80%;
    margin: 10px;
    padding-left: 10px;
}

button
{
    height: 50px;
    width: 20%;
    background-color: rgb(46, 57, 119);
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 4%;
}
